/* FONTS: 
 * font-family: 'Gothic A1', sans-serif;
 * font-family: 'Ubuntu', sans-serif;
 */


body {
  background-color: #d6e0f0;
  font-family: 'Gothic A1', sans-serif;
  animation: fadeIn ease 6s;
}

p {
  font-size: 1.1rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  padding-top: 5px;
  width: 10%;
}

a


.sub-section-title {
  font-style: bold;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar Section */
.navbar {
  background: #d6e0f0;
  color:black;
  font-size: 1.2rem;

}

/* Title Section */

#me {
  padding: 10% 15%;
}

.big-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.title-info {
  text-align: left;
}

.avatars {
  align-items: center;
}

.avatar-img {
  position: relative;
  margin: auto 50% 5% 50%;
}

.social-icons {
  list-style: none;
  display: flex;
  align-items: left;
  padding-bottom: 2%;
}

.social-svg {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  opacity: 0.8;
  filter: brightness(85%);
  animation: swing ease 2.5s;
}

.spin-illuminate:hover {
  opacity: 1;
  filter: brightness(110%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.spin-illuminate-v2:hover {
  opacity: 1;
  filter: brightness(110%);
  transition: 1s;
  animation: zoominoutsinglefeatured 1s;
}

.nav-slash {
  padding-left: 10px;
  padding-right: 10px;
}

/* Experience Section */

#experience, #music {
  background: lightslategray;
  padding: 5% 15%;
  text-align: center;
  line-height: 1.5;
  color: #f1f3f8;
}

#experience h3 {
  font-style: italic ;
}

#experience li {
  font-size: 1.5rem;
}

.sub-header {
  padding-bottom: 2%;
}

.experience-item {
  padding: 10px 0;
  text-align: left;
}

.resume-btn {
  align-items: left;
}

/* Projects Section */

#projects {
  background: #d6e0f0;
  margin-bottom: 5%;
  padding: 5% 15%;
  text-align: center;
  line-height: 1.5;
  color: #000
}

.proj-item {
  padding-bottom: 8%;
}

.carousel-img {
  width: 20%;
  margin: 0 40%;
  align-items: center;
}

.proj-item iframe {
  align-items: center;
}

.dsi img {
  width: 40%;
  cursor: pointer;
}


/* Music Section */

.feature-box iframe {
  width: 100%;
  padding-bottom: 5%;
}

.shuffle-btn {
  color: #FE8CDF;
  background:#353866;
  filter: brightness(80%);

  margin: auto;
  width: 150px;
  padding: 12px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 36px;

  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

}

.shuffle-btn:hover {
  filter: brightness(110%);
  transition: 1s;
}

/* Footer Section */

#footer {
  background: #fff;
  padding: 2% 30%;
  text-align: center;
  align-items: center;

}

.footer-social-icons {
  display: inline-flex;
  padding-bottom: 1%
}


/* KeyFrames Section */

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

@keyframes fadeIn {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes swing {
  0% {transform: rotate(0deg);}
  20% {transform: rotate(300deg);}
  60% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

/* Mobile Viewing */

@media (max-width: 995px) {

  li {
    padding-bottom: 5%;
  }

  #me {
    padding: 20% 15%;
  }

  .title-info {
    text-align: left;
  }

  .avatar-img {
    align-items: center;
    position: relative;
    margin: auto 5% 5% 5%;
  }

  #title {
    padding-top: 10%;
    text-align: center;
  }

  .experience-header {
    padding-bottom: 10%;
  }

  .proj-item iframe {
    height:100%;
    width: 200px;
  }

  #footer {
    background: #fff;
    padding: 3% 15%;
    text-align: center;
    align-items: center;
  }
}