/* FONTS: 
 * font-family: 'Gothic A1', sans-serif;
 * font-family: 'Ubuntu', sans-serif;
 */

body {
  background-color: whitesmoke;
  font-family: 'Gothic A1', sans-serif;
}

p {
  font-size: 1.1rem;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  padding-top: 5px;
  width: 10%;
}

/* Navbar Section */
.navbar {
  background: #fff;
  color:black;
  font-size: 1.2rem;
  padding: 2%;

}


/* Title Section */

#me {
  padding: 10% 15%;
}

.big-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.title-info {
  text-align: left;
}

.avatars {
  align-items: center;
}

.avatar-img {
  margin: auto 50% 5% 50%;
}

.social-icons {
  list-style: none;
  display: flex;
  align-items: left;
  padding-bottom: 2%;
}

.social-svg {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  opacity: 0.8;
  filter: brightness(85%);
}

.spin-illuminate:hover {
  opacity: 1;
  filter: brightness(110%);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.nav-slash {
  padding-left: 10px;
  padding-right: 10px;
}

/* Footer Section */
#footer {
  background: #fff;
  padding: 7% 15%;
  text-align: center;
  align-items: center;

}

.footer-social-icons {
  display: flex;
  margin: 10px 0 5px 42%;
}

/* Mobile Viewing */

@media (max-width: 995px) {
  .title-info {
    text-align: left;
  }
  .avatar-img {
    align-items: center;
    margin: auto 30% 5% 30%;
  }
  .footer-social-icons {
    display: flex;
    margin: 5px 0 5px 25%;
  }
  #title {
    text-align: center;
  }
}